<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<header id="header" class="fixed-top">
    <th:block th:include="~{/fragments/doctors-nav}"></th:block>
</header><!-- End Header -->

<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="move"></div>

            <h2>Confirm Appointment</h2>
            <p th:text="'Please select the available time for appointment with id: ' + *{id}"> </p>
        </div>

        <form method="POST" th:action="@{/doctor/confirmAppointment}" th:method="POST" role="form"
              class="login-form" data-aos="fade-up"
              data-aos-delay="100">

            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <h6>Appointment id</h6>
                    <br>
                    <input name="id" class="form-control" th:value="${id}" readonly>
                    <br>
                    <h6>Appointment date</h6>
                    <br>
                    <div th:if="${missingDateTime}"  class="center-block alert alert-danger" role="alert">
                        <p class="text-center" >Please select enter a valid appointment date</p>
                    </div>
                    <input  type="datetime-local" id="min" class="form-control" name="dateAndTime" placeholder="Appointment Date"/>
                    <div class="validate"></div>
                </div>
            </div>

            <script type="text/javascript">
                    const minDate = new Date().toISOString().slice(0, -5);
                    document.getElementById("min").setAttribute("min", minDate);
            </script>

            <div class="text-center"><button name="submit" type="submit" value="submit" >Confirm Appointment</button></div>
        </form>
    </div>

    <div class="move-footer">

    </div>
</section>

<footer id="footer">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer><!-- End Footer -->

<th:block th:include="~{/fragments/scripts}"></th:block>
</body>