<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"> </th:block>
</head>

<body>

<header id="header" class="fixed-top">
    <th:block th:include="~{/fragments/doctors-nav}"> </th:block>
</header><!-- End Header -->

<!-- ======= Featured Services Section ======= -->
<div class="move"></div>
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <h3 class="home-welcome-message" th:text="${greeting}"></h3>

        <div class="row">
            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><a href="/appointments"><i class="icofont-calendar"></i></a></div>
                    <h4 class="title"><a href="/appointments">Appointments</a></h4>
                    <p class="description">Keep track of your appointments. You can easily check your appointment
                        history and obtain any related information in just a few clicks.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><a href="/prescriptions"><i class="icofont-law-document"></i></a></div>
                    <h4 class="title"><a href="/prescriptions">Prescriptions</a></h4>
                    <p class="description">You lost your perscription? Forget about any similar inconveniences, you
                        have access to every single perscription that was issued after visiting one of our
                        specialists.</p>
                </div>
            </div>
        </div>
        <div class="move-options"></div>

    </div>
</section><!-- End Featured Services Section -->

<footer id="footer">
    <th:block th:include="~{/fragments/footer}"> </th:block>
</footer><!-- End Footer -->

<th:block th:include="~{/fragments/scripts}"> </th:block>
</body>