<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"> </th:block>
</head>

<body>

<header id="header" class="fixed-top">
    <th:block th:include="~{/fragments/admin-nav}"> </th:block>
</header><!-- End Header -->

<!-- ======= Featured Services Section ======= -->
<div class="move"></div>
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <h3 class="home-welcome-message" th:text="${greeting}"></h3>

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><a href="/admin/user"><i class="icofont-ui-user"></i></a></div>
                    <h4 class="title"><a href="/admin/user">Continue as User</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><a href="/admin/doctor"><i class="icofont-doctor"></i></a></div>
                    <h4 class="title"><a href="/admin/doctor">Continue as Doctor</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><a href="/users/admin/admin-panel"><i class="icofont-drawing-tablet"></i></a></div>
                <h4 class="title"><a href="/user/admin/admin-panel">Admin Panel</a></h4>
            </div>
        </div>
        </div>
        <div class="move-options"></div>
        <div class="push-down-footer"></div>
    </div>
</section><!-- End Featured Services Section -->

<footer id="footer">
    <th:block th:include="~{/fragments/footer}"> </th:block>
</footer><!-- End Footer -->

<th:block th:include="~{/fragments/scripts}"> </th:block>
</body>