<th:block>
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>In an emergency? Need help now?</h3>
                <p> Send us an appointment request. Our representative will contact you in the following 24 hours to schedule an appointment in accordance to your availability. In case of any urgent matters, please contact us directly at +359 02 244 422</p>
                <a class="cta-btn scrollto" href="/appointments/make-appointment">Make an Appointment</a>
            </div>

        </div>
    </section>
</th:block>