<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<header id="header" class="fixed-top">
    <th:block th:include="~{/fragments/guest-nav-register}"></th:block>
</header>
<body>

<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="move"></div>
            <h2>Register</h2>
            <p>Please enter the mandatory fields in order to register on out platform</p>
            <!--<br>
            <p>E-mail peshopicha@abv.bg has already been user. Please reach out to our support team for password reset link.</p>-->
        </div>

        <form th:action="@{/users/register}" th:method="POST" th:object="${userRegistrationBindingModel}"role="form" class="login-form" data-aos="fade-up"
              data-aos-delay="100">

            <div th:if="${bindingIssues}"  class="center-block alert alert-danger" role="alert">
                <p class="text-center" th:each="error : ${#fields.errors('username')}" th:text="${error}"></p>
                <p class="text-center" th:each="error : ${#fields.errors('password')}" th:text="${error}"></p>
                <p class="text-center" th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></p>
                <p class="text-center" th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></p>
                <p class="text-center" th:each="error : ${#fields.errors('salutation')}" th:text="${error}"></p>
                <p class="text-center" th:each="error : ${#fields.errors('birthday')}" th:text="${error}"></p>
            </div>

            <div th:if="${passwordsMismatch}"  class="center-block alert alert-danger" role="alert">
            <p class="text-center" th:if="${passwordsMismatch}">Passwords should match</p>
            </div>

            <div th:if="${usernameIsTake}"  class="center-block alert alert-danger" role="alert">
                <p class="text-center" th:if="${usernameIsTake}" th:text="'User with e-mail ' + *{username} + ' is already registered.' ">Passwords should match</p>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <input type="email" class="form-control" name="username" id="username" placeholder="Your Email"
                           pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                           data-rule="email" data-msg="Please enter a valid email" th:field="*{username}">
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group" style="float: none; margin: 0 auto;">
                    <input type="password" name="password" class="form-control datepicker" id="password"
                           placeholder="Your password" data-rule="minlen:4"
                           data-msg="Password must contain at least 4 characters" th:field="*{password}">
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                           placeholder="Confirm your password"
                           data-rule="minlen:4" data-msg="Password must contain at least 4 characters"th:field="*{confirmPassword}">
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <input type="text" class="form-control" name="first-name" id="firstName"
                           placeholder="Your first name"
                           data-rule="minlen:2" data-msg="Your first name must contain at least 2 characters" th:field="*{firstName}">
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Your last name"
                           data-rule="minlen:2" data-msg="Your last name must contain at least 2 characters" th:field="*{lastName}">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <h6>Salutation:</h6>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <select name="salutation" id="salutation" class="form-control">
                        <option value="">Select Salutation</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Miss">Miss</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Prof.">Prof.</option>
                    </select>
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <h6>Birth Date:</h6>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group" , style="float: none; margin: 0 auto;">
                    <input type="date" class="form-control" name="birthday" id="birthday" placeholder="Your birthday"/>
                    <div class="validate"></div>
                </div>
            </div>


            <div class="text-center"><button name="submit" type="submit" value="submit" >Register</button></div>
        </form>

    </div>
</section>

</body>

<footer id="footer">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>

<th:block th:include="~{/fragments/scripts}"></th:block>
</body>